{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<h2 class="text-center my-3"><u>ABOUT ME:</u></h2>
<br>
<p class="text-center">Welcome to my blog everyone, i am the creator of this blog MrEthical, <br>I hope you have a great user experience with this blog<br> and i would like all of your co-operation in making this project a success </p>
<br>
<p class="text-center">I ask for your forgivness for any kind of bugs or inconvienence issues you may face, as this is in early development phase <br> please provide us with your feedback and suggestions in the CONTACT section </p>
<br>
<h1 class="text-center">SHARE YOUR THOUGHTS WITH THE WORLD</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock body %}